<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">

    <link rel="stylesheet" href="/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/css/dashboard-style.css">
</head>

<body>
    <!-- Left Panel -->

    <% include ../../../partials/admin/aside-dashboard %>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <% include ../../../partials/admin/header-dashboard %>
        <!-- Header-->

        <% if (url != "dashboard") { %>
        <% include ../../../partials/investor/breadcrumbs-dashboard %>
        <% } %>
        <% if (success_message != '') { %>
        <div class="sufee-alert alert with-close alert-success alert-dismissible fade show" style="float: left; margin-top: 30px; margin-left: 1.875em; width: 94.3872778%;">
            <%= success_message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <% } %>
        <% if (error_message != '') { %>
        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show" style="float: left; margin-top: 30px; margin-left: 1.875em; width: 94.3872778%;">
            <%= error_message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <% } %>
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Transaksi Menunggu Pembayaran</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-3" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tanggal Transaksi</th>
                                            <th>Investor</th>
                                            <th>Proyek</th>
                                            <th>Saham yang Dibeli</th>
                                            <th>Harga Saham</th>
                                            <th>Total Pembayaran</th>
                                            <th>Tanggal Kadaluarsa</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% transactions.forEach((transaction, index) => { %>
                                        <tr>
                                            <td><%= createdAt[index] %></td>
                                            <td>
                                                <a href="/admin/user/investor/<%= transaction.investor.profile[0].registration_type %>/<%= transaction.investor._id %>"
                                                    style="color: #007bff">
                                                    <%= transaction.investor.profile[0].name %>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="/project/<%= transaction.project._id %>"
                                                    style="color: #007bff">
                                                    <%= transaction.project.basic[0].title %>
                                                </a>
                                            </td>
                                            <td>
                                                <%= transaction.stock_quantity %>
                                            </td>
                                            <td><%= transaction.project.basic[0].stock[0].price %></td>
                                            <td><%= transaction.stock_quantity*transaction.project.basic[0].stock[0].price %>
                                            </td>
                                            <td><%= due_date[index] %></td>
                                            <td>
                                                <% if (expired[index]) { %>
                                                    <div class="input-group-btn">
                                                        <a class="detail-link" href="/admin/transaction/waiting/<%= transaction._id %>/reject">
                                                            <button type="button" class="btn btn-danger">Kadaluarsa</button>
                                                        </a>
                                                    </div>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
            <!-- .animated -->
        </div>


        <div class="clearfix"></div>

        <% include ../../../partials/admin/footer-dashboard %>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="/js/dashboard-main.js"></script>

    <script>
        document.getElementById("my-transaction").className = "menu-item-has-children dropdown show";
        document.getElementById("my-transaction-link").setAttribute('aria-expanded', 'true');
        document.getElementById("my-transaction-sub-menu").className = "sub-menu children dropdown-menu show";
        document.getElementById("waiting-verification-icon").setAttribute('style', 'color: #03a9f3');
        document.getElementById("waiting-verification-link").setAttribute('style', 'color: #03a9f3');
    </script>
</body>

</html>