<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    
    <link rel="stylesheet" href="/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/css/dashboard-style.css">
</head>

<body>
    <!-- Left Panel -->

    <% include ../../partials/investor/aside-dashboard %>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <% include ../../partials/investor/header-dashboard %>
        <!-- Header-->

        <% if (url != "dashboard") { %>
            <% include ../../partials/investor/breadcrumbs-dashboard %>
        <% } %>
        <% if (success_message != '') { %>
        <div class="sufee-alert alert with-close alert-success alert-dismissible fade show" style="float: left; margin-top: 30px; margin-left: 1.875em; width: 94.3872778%;">
            <%= success_message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <% } %>
        <% if (error_message != '') { %>
        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show" style="float: left; margin-top: 30px; margin-left: 1.875em; width: 94.3872778%;">
            <%= error_message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <% } %>
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="row">
                    <% projects.forEach((project, index) => { %>
                    <div class="col-md-4">
                        <div class="card">
                            <a href="/investor/<%= project._id %>/backed-project/transaction">
                                <% if (project.image[0]) { %>
                                <img alt="Card image cap" class="card-img-top"
                                    src="/image/project/<%= project._id %>/<%= project.image[0].filename %>"
                                    style="height: 178px;">
                                <% } %>
                                <% if (!project.image[0]) { %>
                                <img class="card-img-top" src="https://picsum.photos/300/169/?random %>"
                                    alt="Card image cap">
                                <% } %>
                            </a>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <h4 class="card-title mb-3"><a
                                            href="/investor/<%= project._id %>/backed-project/transaction"><%= project.basic[0].title %></a>
                                        <small><span class="badge badge-primary float-right mt-1">Terverifikasi</span></small>
                                    </h4>
                                    <p class="card-text">Dibuat oleh <strong><%= project.inisiator.profile[0].name %></strong></p>
                                </div>
                                <div class="weather-category twt-category">
                                    <ul>
                                        <li>
                                            Imbal Hasil
                                            <h6>
                                            <% if (project.project[0]) { %>
                                                <%=project.project[0].roi%>
                                            <% } %>
                                            %
                                            </h6>
                                        </li>
                                        <li>
                                            Durasi Proyek
                                            <h6>
                                                <% if (project.project[0]) { %>
                                                    <%= project.project[0].duration[0].duration %>
                                                <% } %>
                                                Bulan
                                            </h6>
                                        </li>
                                        <li>
                                            Tersisa
                                            <h6><%= durations[index] %> Hari</h6>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <footer class="twt-footer">
                                Harga Saham:
                                <strong>
                                    <% if (project.basic[0].stock[0]) { %>
                                        Rp. <%= project.basic[0].stock[0].price %>
                                    <% } %>
                                </strong>
                            </footer>
                            <div class="card-footer" style="font-size: 12px;">
                                <div class="card-text text-sm-center">
                                    <div class="progress mb-3">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: <%- Math.round((project.basic[0].stock[0].total-project.basic[0].stock[0].remain)/project.basic[0].stock[0].total*100 * 100) / 100  %>%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <strong class="card-title mb-3"><%- Math.round((project.basic[0].stock[0].total-project.basic[0].stock[0].remain)/project.basic[0].stock[0].total*100 * 100) / 100  %>%</strong> Dana Terkumpul
                                <span class="pull-right">
                                    <% let goal = 0 %>
                                    <% project.budget.forEach((budget) => { %>
                                        <% goal = goal + budget.amount %>
                                    <% }) %>
                                    Target: Rp. <%= goal %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
            <!-- .animated -->
        </div>


        <div class="clearfix"></div>

        <% include ../../partials/investor/footer-dashboard %>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="/js/dashboard-main.js"></script>

    <script>
        document.getElementById("my-project").className = "menu-item-has-children dropdown show";
        document.getElementById("my-project-link").setAttribute('aria-expanded', 'true');
        document.getElementById("sub-menu").className = "sub-menu children dropdown-menu show";
        document.getElementById("backed-project-icon").setAttribute('style', 'color: #03a9f3');
        document.getElementById("backed-project-link").setAttribute('style', 'color: #03a9f3');
    </script>
</body>

</html>