<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">

    <link rel="stylesheet" href="/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/css/dashboard-style.css">
</head>

<body>
    <!-- Left Panel -->

    <% include ../../../partials/investor/aside-dashboard %>

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <% include ../../../partials/investor/header-dashboard %>
        <!-- Header-->

        <% if (url != "dashboard") { %>
        <% include ../../../partials/investor/breadcrumbs-dashboard %>
        <% } %>

        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                        <div class="card-header">
                                <strong class="card-title">Anda Berinvestasi pada Proyek</strong>
                            </div>
                            <a href="/project/<%= transaction.project._id %>">
                                <img alt="Card image cap" class="card-img-top" src="/image/project/<%= transaction.project._id %>/<%= transaction.project.image[0].filename %>" style="max-height: 178px;">
                            </a>
                            <div class="card-body">
                                <div class="mx-auto d-block">
                                    <h4 class="card-title mb-3"><a href="/project/<%= transaction.project._id %>"><%= transaction.project.basic[0].title %></a> 
                                    </h4>
                                    <%= transaction.stock_quantity %> x <strong>Rp. <%= transaction.project.basic[0].stock[0].price %></strong>

                                </div>
                            </div>
                            <div class="card-footer" style="font-size: 16px;">
                                <strong class="card-title mb-3">Total: </strong>
                                <span class="pull-right">
                                    <strong class="card-title mb-3">Rp. <%= transaction.stock_quantity*transaction.project.basic[0].stock[0].price %></strong>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div id="basic-card" class="card">
                            <div class="card-header">
                                <strong class="card-title">Konfirmasi Pembayaran</strong>
                            </div>
                            <div class="card-body">
                                <div id="pay-invoice">
                                    <div class="card-body">
                                        <form action="/investor/transaction/waiting-payment/<%= transaction._id %>/<%= transaction.project._id %>" enctype="multipart/form-data" id="payment-form" method="post">
                                            <% if (success_message != '') { %>
                                            <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                                                <%= success_message %>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <% } %>
                                            <% if (error_message != '') { %>
                                            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                                                <%= error_message %>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <% } %>
                                            <div class="form-group">
                                                <label class="control-label mb-1">Bukti Transaksi</label>
                                                <input accept="image/*" class="form-control-file" id="receipt" name="receipt" type="file">
                                            </div>
                                            <div>
                                                <button id="start-project-button" type="submit" class="btn btn-lg btn-info btn-block">
                                                    <span aria-hidden="true" class="spinner-border spinner-border-sm"
                                                        id="start-project-spinner" role="status" style="display: none"></span>
                                                    <span id="start-project-button-placeholder">Lanjut</span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>


        <div class="clearfix"></div>

        <% include ../../../partials/investor/footer-dashboard %>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="/js/dashboard-main.js"></script>

    <script>
        document.getElementById("my-transaction").className = "menu-item-has-children dropdown show";
        document.getElementById("my-transaction-link").setAttribute('aria-expanded', 'true');
        document.getElementById("my-transaction-sub-menu").className = "sub-menu children dropdown-menu show";
        document.getElementById("waiting-payment-icon").setAttribute('style', 'color: #03a9f3');
        document.getElementById("waiting-payment-link").setAttribute('style', 'color: #03a9f3');
    </script>
</body>

</html>